<br>
<br>
<div style="margin-left: 100px; margin-top: 100px;" class="container text-center my-3">
  <h3>Upcoming Vehicles</h3>
  <br>
  <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
    <div class="carousel-inner w-100" role="listbox">
      <div class="carousel-item row no-gutters active">
        <div class="col-4 float-left"><img style="min-height: 300px!important;" class="img-fluid" src="../../../../assets/images/toyota-2020-xle-celestial-silver-metallic-l23.jpg">
          <div class="carousel-caption d-none d-md-block">
            <div style="">
              <h4 style="text-align: left">2020</h4>
              <h3 style="text-align: left; margin: 0px!important; padding: 0px!important;">Toyota Camry</h3>
              <p style="text-align: left">From <strong>Rs.120,000,000</strong></p>
              <div style="text-align: left">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span> 4.8</span>
              </div>
              <button type="button" class="btn btn-outline-info float-right"><a class="float" data-target="#camry" data-toggle="modal" style="">Explore CAMRY</a></button>
            </div>
          </div>
        </div>
        <div class="col-4 float-left"><img style="min-height: 350px!important;" class="img-fluid" src="../../../../assets/images/toyota-overview-gallery-2020-tacoma-trd-pro-super-white-03-l.jpg">
          <div class="carousel-caption d-none d-md-block">
            <div style="">
              <h4 style="text-align: left">2020</h4>
              <h3 style="text-align: left; margin: 0px!important; padding: 0px!important;">Toyota Tacoma</h3>
              <p style="text-align: left">From <strong>Rs.90,000,000</strong></p>
              <div style="text-align: left">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span> 3.9</span>
              </div>
              <button type="button" class="btn btn-outline-info float-right"><a class="float" data-target="#tacoma" data-toggle="modal" style="">Explore TACOMA</a></button>
            </div>
          </div>
        </div>
        <div class="col-4 float-left"><img style="min-height: 280px!important;" class="img-fluid" src="../../../../assets/images/toyota-2019-rav4-trail-blue-flame-white-roof-l23.jpg">
          <div class="carousel-caption d-none d-md-block">
            <div style="">
              <h4 style="text-align: left">2020</h4>
              <h3 style="text-align: left; margin: 0px!important; padding: 0px!important;">Toyota Camry</h3>
              <p style="text-align: left">From <strong>Rs.120,000,000</strong></p>
              <div style="text-align: left">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span> 4.8</span>
              </div>
              <button type="button" class="btn btn-outline-info float-right"><a class="float" data-target="#camry" data-toggle="modal" style="">Explore CAMRY</a></button>
            </div>
          </div>
        </div>
        <!--<div class="col-3 float-left"><img class="img-fluid" src="../../../../assets/images/toyota-2020-tundra-4x4-double-cab-sr5-off-road-package-silver-l.jpg"></div>-->
      </div>
      <div class="carousel-item row no-gutters">
        <div class="col-3 float-left"><img class="img-fluid" src="../../../../assets/images/toyota-2019-highlander-hybrid-blizzard-pearl-l.jpg">
          <div class="carousel-caption d-none d-md-block">
            <div style="">
              <h4 style="text-align: left">2020</h4>
              <h3 style="text-align: left; margin: 0px!important; padding: 0px!important;">Toyota Highlander</h3>
              <p style="text-align: left">From <strong>Rs.140,000,000</strong></p>
              <div style="text-align: left">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span> 4.8</span>
              </div>
              <button type="button" class="btn btn-outline-info float-right"><a class="float" data-target="#highlander" data-toggle="modal" style="">Explore HIGHLANDER</a></button>
            </div>
          </div>
        </div>
        <div class="col-3 float-left"><img class="img-fluid" style="min-height: 350px!important;" src="../../../../assets/images/toyota-2019-highlander-limited-ooh-la-la-rouge-mica-l.jpg">
          <div class="carousel-caption d-none d-md-block">
            <div style="">
              <h4 style="text-align: left">2020</h4>
              <h3 style="text-align: left; margin: 0px!important; padding: 0px!important;">Toyota Highlander</h3>
              <p style="text-align: left">From <strong>Rs.140,000,000</strong></p>
              <div style="text-align: left">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span> 4.8</span>
              </div>
              <button type="button" class="btn btn-outline-info float-right"><a class="float" data-target="#highlander" data-toggle="modal" style="">Explore HIGHLANDER</a></button>
            </div>
          </div>
        </div>
        <div class="col-3 float-left"><img class="img-fluid" style="min-height: 300px!important;" src="../../../../assets/images/toyota-2020-prius-prime-exterior-magnetic-grey-metallic-l.jpg"></div>
        <div class="col-3 float-left"><img class="img-fluid" src="../../../../assets/images/toyota-2020-avalon-exterior-xse-wind-chill-profile-l.jpg"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h4>Advances all 4 slides each time</h4>
  <a href="https://www.codeply.com/go/HDu8lT7NxJ">also see</a>
</div>

<!---->
<!--Model-1-->
<div class="modal fade" id="camry" tabindex="-1" role="dialog" aria-labelledby="createCarModel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background-color: #1b1e21; color: white;" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TOYOTA CAMRY</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=""><img class="img-fluid" src="../../../../assets/images/toyota-2020-xle-celestial-silver-metallic-l23.jpg"></div>

          <ul>
          <li>Check installation of driver's floor mat</li>
          <li>Check for open campaigns/recalls</li>
          <li>Rotate tires and check condition (tread depth)</li>
          <li>Set tire pressures to correct PSI</li>
          <li>Check that all exterior light bulbs are functioning</li>
          <li>Inspect front and rear brake components</li>
          <li>Inspect and top off fluid levels</li>
          <li>Perform multi-point inspection with print-out</li>
          <li>Road test of vehicle</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button (click)="onCreateNewCar(createCarForm.value)" [disabled]="!createCarForm.valid" type="button"-->
        <!--class="btn btn-primary">Create-->
        <!--</button>-->
      </div>
    </div>
  </div>

</div>

<!---->

<!--Model-2-->
<div class="modal fade" id="tacoma" tabindex="-1" role="dialog" aria-labelledby="createCarModel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background-color: #1b1e21; color: white;" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TOYOTA TACOMA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=""><img class="img-fluid" src="../../../../assets/images/toyota-overview-gallery-2020-tacoma-trd-pro-super-white-03-l.jpg"></div>

        <ul>
          <li>Check installation of driver's floor mat</li>
          <li>Check for open campaigns/recalls</li>
          <li>Rotate tires and check condition (tread depth)</li>
          <li>Set tire pressures to correct PSI</li>
          <li>Check that all exterior light bulbs are functioning</li>
          <li>Inspect front and rear brake components</li>
          <li>Inspect and top off fluid levels</li>
          <li>Perform multi-point inspection with print-out</li>
          <li>Road test of vehicle</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button (click)="onCreateNewCar(createCarForm.value)" [disabled]="!createCarForm.valid" type="button"-->
        <!--class="btn btn-primary">Create-->
        <!--</button>-->
      </div>
    </div>
  </div>

</div>

<!---->

<!--Model-2-->
<div class="modal fade" id="highlander" tabindex="-1" role="dialog" aria-labelledby="createCarModel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div style="background-color: #1b1e21; color: white;" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TOYOTA HIGHLANDER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=""><img class="img-fluid" src="../../../../assets/images/toyota-2019-highlander-hybrid-blizzard-pearl-l.jpg"></div>

        <ul>
          <li>Check installation of driver's floor mat</li>
          <li>Check for open campaigns/recalls</li>
          <li>Rotate tires and check condition (tread depth)</li>
          <li>Set tire pressures to correct PSI</li>
          <li>Check that all exterior light bulbs are functioning</li>
          <li>Inspect front and rear brake components</li>
          <li>Inspect and top off fluid levels</li>
          <li>Perform multi-point inspection with print-out</li>
          <li>Road test of vehicle</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button (click)="onCreateNewCar(createCarForm.value)" [disabled]="!createCarForm.valid" type="button"-->
        <!--class="btn btn-primary">Create-->
        <!--</button>-->
      </div>
    </div>
  </div>

</div>

<!---->

