<router-outlet></router-outlet>
<div>
  <div style="background-color: #1b1e21; color: white" class="alert alert-info"><b>Vehicle Update</b></div>
  <div>
    <table class="table vehicleMaintenanceTable">
      <thead>
      <tr>
        <th>ID</th>
        <th>Vehicle Image</th>
        <th>Vehicle Model</th>
        <th>Vehicle Make</th>
        <th>Update</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <!--<form class="validate-form" novalidate [formGroup]="newCommentForm">-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--<input class="input100" type="text" formControlName="userName" placeholder="User Name">-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--<input class="input100" type="text" formControlName="vehicleName" placeholder="Vehicle Name">-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--<input class="input100" type="text" formControlName="comment" placeholder="Write Your Comment">-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--</form>-->
      </tr>
      <tr *ngFor="let adminCar of adminCars">
        <td>{{adminCar.id}}</td>
        <td><img style=" width: 70px; height: 50px;" class=" img-responsive rounded" [src]="adminCar.image" alt="Card image cap"></td>
        <td>{{adminCar.vehicleModel}}</td>
        <td>{{adminCar.vehicleMake}}</td>
        <td><div class="">
          <button style="" (click)="goToAdminCarUpdateForm(adminCar.id)"  class="btn btn-outline-info">
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Update Information
          </button>
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
