select{
  background-color: #1b1e21;
  color: white;
}

#menu-outer {
  height: 78px;
}

/*.table {*/
  /*display: table;   !* Allow the centering to work *!*/
  /*margin: 0 auto;*/
/*}*/

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
}

ul#horizontal-list button{
  /*background-color: #1b1e21;*/
  /*color: white;*/
}
div.sticky{
  position: -webkit-sticky;
  position: sticky;
  top:0px;
  background-color: black;
  z-index: 2;
}
