<div style="margin:50px;">
  <div style="background-color: #1b1e21; color: white" class="alert alert-info"><b><h4 style="text-transform: capitalize">{{info.username}} Profile</h4></b></div>
  <br>
  <!---->
  <div *ngIf="info.token; else loggedOut">
    <!--<h5 class="text-primary">Your Information</h5>-->
    <!--<p>-->
      <!--<strong>Username:</strong> {{info.username}}<br/>-->
      <!--<strong>Roles:</strong> {{info.authorities}}<br />-->
      <!--&lt;!&ndash;<strong>Token:</strong> {{info.token}}.&ndash;&gt;-->
    <!--</p>-->
    <!--<button class="btn btn-secondary" (click)="logout()">Logout</button>-->
  </div>

  <ng-template #loggedOut>
    <div class="blink2"> Please login to view your profile.</div>
    <br>
  </ng-template>
  <!---->
  <div ng-app="myApp" ng-controller="myCtrl">
    <!--<select ng-model="selectedName" ng-options="item for item in names">Select vehicle model</select>-->
    <!--<select id="ms_series" name="ms_series" (change)="carOnChange($event.target.value)" class="ng-pristine ng-isolate-scope ng-empty ng-invalid ng-invalid-required ng-touched browser-default custom-select" style="max-width: 300px">-->
      <!--<option>Vehicle Model</option>-->
      <!--<option style="width: 60px;" *ngFor="let car1 of cars" [value]="car1.id">{{car1.vehicleModel}}</option>-->
    <!--</select>-->
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <div class="container-login100-form-btn">
            <button style=" min-width: 300px" (click)="showMyVehicleView()"  class="btn btn-outline-info my-2 my-sm-0">
              <i class="fas fa-eye"></i>  View My Vehicle
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="container-login100-form-btn">
            <button style=" min-width: 300px" (click)="showAddNewVehicleView()" class="btn btn-outline-info my-2 my-sm-0">
              <i class="fas fa-plus-circle"></i>   Add New Vehicle
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="container-login100-form-btn">
            <button style="min-width: 300px" (click)="showVehicleMaintenanceView()" class="btn btn-outline-info my-2 my-sm-0">
              <i class="fas fa-tools"></i>   Vehicle Maintenance
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="container-login100-form-btn">
            <button style=" min-width: 300px" (click)="showVehicleUpdateView()"  class="btn btn-outline-info my-2 my-sm-0">
              <i class="fas fa-edit"></i>  Update Vehicle Details
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="container-login100-form-btn">
            <!--<button style="background-color: #1b1e21; color: white; min-width: 300px" (click)="showVehicleDeleteView()"  class="btn btn-primary">-->
            <button style="min-width: 300px" (click)="showVehicleDeleteView()"  class="btn btn-outline-info my-2 my-sm-0">
              <i class="fas fa-trash-alt"></i>   Delete Registered Vehicles
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <router-outlet></router-outlet>
        </div>
        <!--<div *ngIf="viewMyVehicle">-->
          <!--<div style="background-color: #1b1e21; color: white" class="alert alert-info"><b>User Registered Vehicles</b></div>-->
          <!--<app-user-car-card *ngFor="let userCar of userCars" [userCars]="userCar"></app-user-car-card>-->
        <!--</div>-->
        <!--<div *ngIf="addNewUserVehicle">-->
          <!--<app-user-car-register></app-user-car-register>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="false">
    <div>
      <div class="row">
        <div class="col-md-5">
          <img style="margin-left:300px;" class="card-img-top" [src]="car.image" alt="Card image cap">
        </div>
      </div>
      <div class="card-body">
        <!--<label>Vehicle name</label>-->
        <!--<h5 class="card-title float-right">{{car.name}}</h5>-->
        <!--<label>Details</label>-->
        <!--<p class="card-text">{{car.description}}</p>-->
        <!--</div>-->
        <!--<p>{{car.id}}</p>-->
        <!--<p>{{car.name}}</p>-->
        <!--<p>{{car.description}}</p>-->
        <table style="width: 1000px;" class="table">
          <tbody>
          <tr>
            <td style="max-width: 200px!important;"><b>Vehicle Model</b></td>
            <td style="margin-left: 0px; padding-left: 0px;"><b>{{car.vehicleModel}}</b></td>
          </tr>
          <tr>
            <td style="max-width: 200px!important;"><b>Vehicle Make</b></td>
            <td style="margin-left: 0px; padding-left: 0px;">{{car.vehicleMake}}</td>
          </tr>
          <tr>
            <td style="max-width: 200px!important;"><b>Trim/Edition</b></td>
            <td style="margin-left: 0px; padding-left: 0px;">{{car.trim_edition}}</td>
          </tr>
          <tr>
            <td style="max-width: 200px!important;"><b>Model Year</b></td>
            <td style="margin-left: 0px; padding-left: 0px;">{{car.modelYear}}</td>
          </tr>
          <tr>
            <td style="max-width: 200px!important;"><b>Body Type</b></td>
            <td style="margin-left: 0px; padding-left: 0px;">{{car.bodyType}}</td>
          </tr>
          <tr>
            <td style="max-width: 200px!important;"><b>Engine Capacity</b></td>
            <td style="margin-left: 0px; padding-left: 0px;">{{car.engineCapacity}}</td>
          </tr>
          <tr>
            <td style="max-width: 200px!important;"><b>Transmission</b></td>
            <td style="margin-left: 0px; padding-left: 0px;">{{car.transmission}}</td>
          </tr>
          <tr>
            <td style="max-width: 200px!important;"><b>Fuel Type</b></td>
            <td style="margin-left: 0px; padding-left: 0px;">{{car.fuelType}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.vehicleModel}}</td>
            <td>{{car.vehicleMake}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
