<div>
  <div style="background-color: #1b1e21; color: white" class="alert alert-info"><b>User Messages</b></div>
  <div>
    <table class="table vehicleMaintenanceTable">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Email</th>
        <th>Reply Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <!--<form class="validate-form" novalidate [formGroup]="newCommentForm">-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--<input class="input100" type="text" formControlName="userName" placeholder="User Name">-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--<input class="input100" type="text" formControlName="vehicleName" placeholder="Vehicle Name">-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--<input class="input100" type="text" formControlName="comment" placeholder="Write Your Comment">-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--</form>-->
      </tr>
      <tr *ngFor="let generalUserMessage of generalUserMessages">
        <td>{{generalUserMessage.id}}</td>
        <!--<td><img style=" width: 70px; height: 50px;" class=" img-responsive rounded" [src]="adminCar.image" alt="Card image cap"></td>-->
        <td>{{generalUserMessage.firstName}}</td>
        <td>{{generalUserMessage.subject}}</td>
        <td>{{generalUserMessage.email}}</td>
        <td style="padding-left: 80px;">
          <span style="color: green" *ngIf="!generalUserMessage.isReplied"><i class="fas fa-check"></i></span>
          <span style="color: blue" *ngIf="generalUserMessage.isReplied"><i class="fas fa-check-double"></i></span>
        </td>
        <td><div class="btn-group">
          <button style="" [attr.data-target]="'#viewMoreModel' + generalUserMessage.id" data-toggle="modal" class="btn btn-outline-info ">
            <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
            <i class="fas fa-eye"></i>
          </button>
          <button style="" [attr.data-target]="'#replyModal' + generalUserMessage.id" (click)="setValuesGeneralUserMessageForm(generalUserMessage)"  data-toggle="modal" class="btn btn-outline-info ">
            <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
            <i class="fas fa-reply-all"></i>
          </button>
          <button style="" (click)="deleteSelectedGeneralUserMessage(generalUserMessage.id)"  class="btn btn-outline-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div></td>

        <!--Model-starts from here-->
        <div class="modal fade" id="viewMoreModel{{generalUserMessage.id}}" tabindex="-1" role="dialog" aria-labelledby="createCarModel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div style="background-color: #1b1e21; color: white;" class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{generalUserMessage.firstName}} - {{generalUserMessage.subject}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span style="color: white" aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!--<div class=""><img class="img-fluid" src="../../../../assets/images/toyota-2019-highlander-hybrid-blizzard-pearl-l.jpg"></div>-->
                <p>From :{{generalUserMessage.firstName}} {{generalUserMessage.lastName}}</p>
                <p>{{generalUserMessage.message}}</p>
              </div>
              <div class="modal-footer">
                <button style="" data-dismiss="modal" [attr.data-target]="'#replyModal' + generalUserMessage.id" (click)="setValuesGeneralUserMessageForm(generalUserMessage)"  data-toggle="modal" class="btn btn-outline-info ">
                  <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                  <i class="fas fa-reply-all"></i> Reply
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--<button (click)="onCreateNewCar(createCarForm.value)" [disabled]="!createCarForm.valid" type="button"-->
                <!--class="btn btn-primary">Create-->
                <!--</button>-->
              </div>
            </div>
          </div>

        </div>

        <!--Model ends-->

        <!--Reply Model-starts from here-->
        <div class="modal fade replyModal" id="replyModal{{generalUserMessage.id}}" tabindex="-1" role="dialog" aria-labelledby="createCarModel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div style="background-color: #1b1e21; color: white;" class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reply Message to {{generalUserMessage.firstName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span style="color: white" aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!--<div class=""><img class="img-fluid" src="../../../../assets/images/toyota-2019-highlander-hybrid-blizzard-pearl-l.jpg"></div>-->
                <!--<p>To : {{generalUserMessage.email}}</p>-->
                <!--<p>From : automastervehicleconsultancy@gmail.com</p>-->
                <!--<p>{{generalUserMessage.message}}</p>-->
                <form class="validate-form form-group" novalidate [formGroup]="generalUserMessageReplyForm">
                  <div class="form-group col-auto">
                    <input hidden formControlName="firstName" value="{{generalUserMessage.firstName}}">
                    <input hidden formControlName="lastName" value="{{generalUserMessage.lastName}}">
                    <label class="sr-only" for="inlineFormInputGroup">To</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div  class="input-group-text replyMessageInputPrefix">To :</div>
                      </div>
                      <input type="text" class="form-control replyMessageInput" id="inlineFormInputGroup" formControlName="email" value="{{generalUserMessage.email}}" placeholder="Recipient's email address">
                    </div>
                  </div>
                  <div class="form-group col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">From</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div  class="input-group-text replyMessageInputPrefix">From :</div>
                      </div>
                      <input disabled type="text" class="form-control replyMessageInput" id="inlineFormInputGroup" placeholder="" value="automastervehicleconsultancy@gmail.com">
                    </div>
                  </div>
                  <div class="form-group col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Subject</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div  class="input-group-text replyMessageInputPrefix">Subject :</div>
                      </div>
                      <input class="form-control replyMessageInput" id="inlineFormInputGroup" formControlName="subject" value="{{generalUserMessage.subject}}" placeholder="Enter subject here">
                    </div>
                  </div>
                  <div class="form-group col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Message</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text replyMessageInputPrefix">Message :</div>
                      </div>
                      <textarea style="height: 100px;" class="form-control replyMessageInput" id="inlineFormInputGroup" formControlName="message"  placeholder="Enter message here"> --Best Regards</textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button (click)="onSendGeneralUserMessageReply(generalUserMessageReplyForm.value, generalUserMessage)" [disabled]="!generalUserMessageReplyForm.valid"  type="button"
                class="btn btn-success btn-rounded buttonRound"><i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <!--Reply Model ends-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
